spring:
  application:
    name: API
  datasource:
    url: jdbc:postgresql://localhost:5440/mydb
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: localhost
    port: 5673
    username: username
    password: admin
logging:
  level:
    root: INFO
  file:
    name: shopping-api.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
